@classNamePrefix: coolRoadmap-;
@nodeWidth: 200;
@nodeHeight: 50;
@spacerHeight: @nodeHeight+2;
@columnSpacing: 20;
@progressContentSize: 12;
@progrssContentPadding: 4;

.@{classNamePrefix}container {
    max-width: (@nodeWidth*4) + (@columnSpacing*5) + 0px;
    overflow-x: auto;
    margin: 0 auto;

    &.center {
        max-width: none;
        width: 100%;
        text-align: center;

        .@{classNamePrefix}wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            .@{classNamePrefix}column {
                flex: 1;
                display: block;
                margin-right: 0;
                padding-right: ~'@{columnSpacing}px';
                max-width: @nodeWidth;

                &:last-child {
                    padding-right: 0;
                }

                .@{classNamePrefix}node {
                    width: auto;
                }
            }
        }
    }

    .@{classNamePrefix}wrapper {
        position: relative;
        white-space: nowrap;

        .@{classNamePrefix}column {
            width: ~'@{nodeWidth}px';
            display: inline-block;
            margin-right: ~'@{columnSpacing}px';
            vertical-align: top;

            &:last-child {
                margin-right: 0;
            }

            .@{classNamePrefix}node {
                margin: 40px 0;
                width: ~'@{nodeWidth}px';
                height: ~'@{nodeHeight}px';
                position: relative;
                z-index: 1;
                border: 2px solid #2e3148;
                text-align: center;
                vertical-align: middle;
                font-size: 12px;
                font-weight: 500;
                border-radius: 5px;

                &:hover {
                    border-color: #3f54f3 !important;
                    cursor: pointer;

                    &:after {
                        background:  #3f54f3 !important;
                    }
                }

                &:after {
                    position: absolute;
                    width: 25px;
                    height: 5px;
                    bottom: -2px;
                    right: -2px;
                    background: #2e3148;
                    border-radius: 5px 0 5px 0;
                    content: "...";
                    color: #fff;
                    font-size: 12px;
                    font-weight: bold;
                    padding-top: 0px;
                    padding-bottom: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .@{classNamePrefix}title {
                    margin-top: 6px;
                    font-size: 10px;
                    font-weight: 300;
                    color: #8c8fa6;
                    line-height: 18px;
                }

                &.@{classNamePrefix}spacer {
                    border: none;
                    height: ~'@{spacerHeight}px';

                    &:after {
                        display: none;
                    }
                }

                &.@{classNamePrefix}header {
                    border-color: #1b1e36;
                    height: 80px;
                    position: relative;
                    line-height: 80 - (@progressContentSize + (@progrssContentPadding * 4)) + 0px;
                    border-radius: 0;

                    &:after {
                        display: none;
                    }

                    &:hover {
                        border-color: #1b1e36 !important;
                        cursor: default;
                    }

                    .@{classNamePrefix}progress {
                        width: 100%;
                        background-color: #2e3148;
                        position: absolute;
                        bottom: 0;

                        .@{classNamePrefix}progressBar {
                            top: 0;
                            position: absolute;
                            height: 100%;
                            background-color: #242638;
                        }

                        .@{classNamePrefix}progressContent {
                            position: relative;
                            z-index: 2;
                            font-size: ~'@{progressContentSize}px';
                            line-height: ~'@{progressContentSize}px';
                            font-weight: bold;
                            padding: ~'@{progrssContentPadding}px 0';
                        }
                    }
                }
            }
        }

        .@{classNamePrefix}arrow {
            position: absolute;
            z-index: -1;
            top: -7px;
            z-index: -1;
            left: calc(100% + 4px);
            height: 3px;
            background-color: black;
            transform-origin: left;
        
            &:before{
                right: -7px;
                top: 2px;
                position: absolute;
                transform-origin: right top;
                content: "";
                box-sizing: border-box;
                transform: rotate(45deg);
                border-width: 5px;
                border-style: solid;
                border-bottom-color: transparent !important;
                border-left-color: transparent !important;
            }

            &.@{classNamePrefix}noEnd {
                &:before {
                    display: none;
                }
            }
        }
    }
}