@classNamePrefix: coolRoadmap-;
@nodeWidth: 200;
@nodeHeight: 50;
@spacerHeight: @nodeHeight+2;
@columnSpacing: 60;
@progressContentSize: 12;
@progrssContentPadding: 4;

.@{classNamePrefix}container {
    max-width: (@nodeWidth*4) + (@columnSpacing*5) + 0px;
    overflow-x: auto;
    margin: 0 auto;

    &.center {
        max-width: none;
        width: 100%;
        text-align: center;
    }

    .@{classNamePrefix}wrapper {
        position: relative;
        white-space: nowrap;

        .@{classNamePrefix}column {
            width: ~'@{nodeWidth}px';
            display: inline-block;
            margin-right: ~'@{columnSpacing}px';
            vertical-align: top;

            &:last-child {
                margin-right: 0;
            }

            .@{classNamePrefix}node {
                margin: 40px 0;
                width: ~'@{nodeWidth}px';
                height: ~'@{nodeHeight}px';
                position: relative;
                z-index: 1;
                border: 2px solid #2e3148;
                text-align: center;
                vertical-align: middle;
                line-height: ~'@{nodeHeight}px';
                border-radius: 5px;

                &.@{classNamePrefix}spacer {
                    border: none;
                    height: ~'@{spacerHeight}px';
                }

                &.@{classNamePrefix}header {
                    border-color: #1b1e36;
                    height: 80px;
                    position: relative;
                    line-height: 80 - (@progressContentSize + (@progrssContentPadding * 4)) + 0px;
                    border-radius: 0;

                    .@{classNamePrefix}progress {
                        width: 100%;
                        background-color: #2e3148;
                        position: absolute;
                        bottom: 0;

                        .@{classNamePrefix}progressBar {
                            top: 0;
                            position: absolute;
                            height: 100%;
                            background-color: #242638;
                        }

                        .@{classNamePrefix}progressContent {
                            position: relative;
                            z-index: 2;
                            font-size: ~'@{progressContentSize}px';
                            line-height: ~'@{progressContentSize}px';
                            font-weight: bold;
                            padding: ~'@{progrssContentPadding}px 0';
                        }
                    }
                }
            }
        }

        .@{classNamePrefix}arrow {
            position: absolute;
            z-index: -1;
            top: -7px;
            z-index: -1;
            left: (@nodeWidth+4) + 0px;
            height: 3px;
            background-color: black;
            transform-origin: left;
        
            &:before{
                right: -7px;
                top: 2px;
                position: absolute;
                transform-origin: right top;
                content: "";
                box-sizing: border-box;
                transform: rotate(45deg);
                border-width: 5px;
                border-style: solid;
                border-bottom-color: transparent;
                border-left-color: transparent;
            }

            &.@{classNamePrefix}noEnd {
                &:before {
                    display: none;
                }
            }
        }
    }
}